<main>
    <section>
        <h2>Bem-vindo(a) à Academia Pro Fit!</h2>
        <p>Aqui na nossa academia, oferecemos uma variedade de serviços para ajudar você a alcançar seus objetivos de saúde e fitness. Nossas opções incluem:</p>
        <ul>
            <li>Aulas de musculação</li>
            <li>Aulas de aeróbica</li>
            <li>Aulas de dança</li>
            <li>Personal training</li>
        </ul>
    </section>
    <section>
        <h2>Promoção do mês</h2>
        <p>Matricule-se este mês e ganhe 10% de desconto em qualquer serviço!</p>
        <button id="mat" routerLink="/planos">Matricule-se agora</button>
    </section>
</main>