<section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Entre em Contato</h2>
          <form action="#" method="post">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Seu nome">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Seu e-mail">
            </div>
            <div class="form-group">
              <textarea class="form-control" placeholder="Sua mensagem"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
        <div class="col-md-6">
          <h2>Nosso Endereço</h2>
          <p>Rua da Academia, 123</p>
          <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.2727633838687!2d-46.69775668496844!3d-23.596636384653214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce586dbf8e29c3%3A0x9c996b0a8d89cabc!2sAcademia%20Fitness!5e0!3m2!1spt-BR!2sbr!4v1621407965575!5m2!1spt-BR!2sbr" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <h2>Telefone e WhatsApp</h2>
          <p><i class="fa fa-phone"></i> (11) 1234-5678</p>
          <p><i class="fa fa-whatsapp"></i> (11) 98765-4321</p>
        </div>
      </div>
    </div>
  </section>
  