<header class="header">
  <a href="/" class="logo"> <img src="/assets/R.png" alt="Imagem do plano">
  </a>
  <nav class="nav-menu">
    <ul class="nav-list">
      <li class="nav-item">
        <a routerLink="/" aria-current="page" class="nav-link">Inicio</a>
      </li>
      <li class="nav-item">
        <a routerLink="/planos" class="nav-link">Planos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contato" class="nav-link">Contato</a>
      </li>
      <li class="nav-item">
        <a routerLink="/sobre" class="nav-link">Sobre</a>
      </li>
      <li class="nav-item">
        <a routerLink="/adicionar" class="nav-link">Matricula</a>
      </li>
    </ul>
  </nav>
</header>