<div class="plans">
	<div class="plan">
	  <img src="/assets/1.png" alt="Imagem do plano">
	  <h2>Plano Básico</h2>
	  <p>Descrição breve do plano básico</p>
	  <ul>
		<li>3x por semana</li>
		<li>Acesso a todas as áreas da academia</li>
		<li>Sem acompanhamento personalizado</li>
		<li>Preço: R$ 50/mês</li>
	  </ul>
	</div>
	
	<div class="plan">
	  <img src="/assets/2.png" alt="Imagem do plano">
	  <h2>Plano Intermediário</h2>
	  <p>Descrição breve do plano intermediário</p>
	  <ul>
		<li>5x por semana</li>
		<li>Acesso a todas as áreas da academia</li>
		<li>Acompanhamento personalizado</li>
		<li>Preço: R$ 80/mês</li>
	  </ul>
	</div>
	
	<div class="plan">
	  <img src="/assets/3.png" alt="Imagem do plano">
	  <h2>Plano Avançado</h2>
	  <p>Descrição breve do plano avançado</p>
	  <ul>
		<li>todos os dias da  semana</li>
		<li>Acesso a todas as áreas da academia</li>
		<li>Acompanhamento personalizado</li>
		<li>Preço: R$ 120/mês</li>
	  </ul>
	</div>
  </div>
  